@charset "utf-8";

form {
    width: 500px;
    margin: auto;
}

input, textarea {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13px;
    background-color: rgba(225, 225, 225, 0.80)
}

input:hover, textarea:hover{
    background-color: rgb(209, 209, 209);
}

input#ibotao{
    background: none;
}


fieldset {
    margin: 20px;
    font-size: 13pt;
    border-color: rgb(160, 159, 159);
}

fieldset#sexo {
    width: 150px;
}

legend {
    color: rgb(90, 90, 90);
    font-size: 13pt;
    font-family: sans-serif;
    font-weight: bold;
}

fieldset#identificacao {
    background: url("../img/icone-contato.png") no-repeat 95% 95%;
}

fieldset#endereco {
    background: url("../img/icone-endereco.png") no-repeat 95% 95%;
}

fieldset#mensagem {
    background: url("../img/icone-mensagem.png") no-repeat 95% 95%;
}

fieldset#pagamento {
    background: url("../img/icone-pagamento.png") no-repeat 95% 95%;
}

p{
    text-indent: 0px;
}
