@charset "UTF-8";

ul#galeria-fotos{
    list-style: none;
    margin: 0px auto;
    width: 900px;
    padding: 50px;
    overflow: hidden;
}

ul#galeria-fotos li{
    float: left;
    padding: 10px;
    border: 3px solid rgb(228, 228, 228);
    width: 200px;
    height: 200px;
    margin: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in;
}

ul#galeria-fotos li:hover{
    transform: scale(1.5);
}

ul#galeria-fotos li#foto-01{
    background: url('../img/galeria-01.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}

ul#galeria-fotos li#foto-01:hover{
    background-position: 0px;
    background-size: 225px 225px;
}

ul#galeria-fotos li#foto-02{
    background: url('../img/galeria-02.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}

ul#galeria-fotos li#foto-02:hover{
    background-position: 0px;
    background-size: 225px 225px;
}

ul#galeria-fotos li#foto-03{
    background: url('../img/galeria-03.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}

ul#galeria-fotos li#foto-03:hover{
    background-position: 0px;
    background-size: 225px 225px;
}

ul#galeria-fotos li#foto-04{
    background: url('../img/galeria-04.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}

ul#galeria-fotos li#foto-04:hover{
    background-position: 0px;
    background-size: 225px 225px;
}

ul#galeria-fotos li#foto-05{
    background: url('../img/galeria-05.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}

ul#galeria-fotos li#foto-05:hover{
    background-position: 0px;
    background-size: 225px 225px;
}

ul#galeria-fotos li#foto-06{
    background: url('../img/galeria-06.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}

ul#galeria-fotos li#foto-06:hover{
    background-position: 0px;
    background-size: 225px 225px;
}

ul#galeria-fotos span{
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    line-height: 380px;
    box-shadow: 1px 1px 1px black;
    font-size: 9pt;
}

ul#galeria-fotos li:hover span{
    opacity: 1;
}